/*
break points: 600,900,1200,1800(=optional)
*/

/* For debugging: */
/* * {
  outline: 1px solid red;
} */

/*
  Am using flexbox and grid 
  These properties will need a fallback option for IE11 (#$&@%#@ $%#*), especially grid:
  https://caniuse.com/#feat=flexbox : 92%
  https://caniuse.com/#search=grid : 87%
*/

/******
Standerd elements styling 
******/
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}

/* Show a popup for older browsers (>IE10, not even going to bother with < IE10) */
.ie10up{
  display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie10up{
    display: block;
    position: absolute;
    width: 500px;
    top: 0;
    left: 50%;
    margin-left: -250px;
    background: lightgray;
    padding: 1em;
    border: 2px solid red;
  }
  .ie10up span {
    position: relative;
    top: 5px;
    right: -450px;
    cursor: pointer;
  }
}

html {
  overflow-x: hidden;
  width: 100vw;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; /*Every em is 16 px */
}

h1, h2, h3, h4, H5, H6 {
  font-family: 'Kaushan Script', cursive;
}

a {
  text-decoration: none;
  color: initial;
}
a:link {
  text-decoration: underline;
}
a:active {
  color: #F05D5E;
}
a:focus {  
  
}
a:hover {
  color: #FF3355;
  text-decoration: none;
  text-shadow: 0 0 2px #fff;
}
p a {
  color: white;
  transition: all .3s;
}
p a:hover {
  color: white;
  font-weight: 700;
  text-decoration: underline
}
p a:active {
  background-color: oldlace;
  color: #444;
}

section:not(.quote):not(.other) {
  box-shadow: inset 0 0 25px rgba(0,0,0,.45);
}

h3, h4 {
  border-bottom: 3px solid rgba(84, 113, 255, 1);
}

code {
  background-color: #a5a5a5;
  color: black;
  border-radius: 3px;
  font-size: small;
  border: 1px solid #c1000075;
  padding: 0 1px;
}

/*******
 javscript breakpoints
 not using at the moment
 *******/
body:before {
  content: "desktop";
  display: none; 
}
@media (max-width: 700px) {
  body:before {
    content: "mobile";
  }
}
@media (max-width: 1100px) {
  body:before {
    content: "desktop";
  }
}

/****** 
Animation
 ******/
@keyframes pulse {
  0% {
    color:hsla(0, 0%, 100%, 0.95);
    transform: translateY(3px);
  }
  33%{
    transform: translateY(0);
  }
  66% {
    transform: translateY(3px)
  }
  100% {
    transform: translateY(0);
    color:hsla(0, 0%, 100%, 0.45);
  }
}

/******
  header specific styling 
 ******/
header {
  padding-top: 8em; /*128px*/
  width: 100%;
  height: auto;
  height: 100vh;
  /* 13 em half the image */
  background-image: linear-gradient(#5471ff 13em, #5a8cf5 13em), url("https://millar-knorr.nl/bg.jpg");
  background-image: linear-gradient(rgba(84, 113, 255, .7) 13em, rgba(90, 140, 245, .7) 13em), url(https://millar-knorr.nl/bg.jpg);
  background-attachment: scroll, fixed;
  background-size: initial, cover;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
header .face img {
  text-align: center;
  width: 10rem; 
  height: 10rem; /* 160px */
  border-radius: 50%;
  border: 3px solid white;
}
header h1 {
  letter-spacing: .03em;
  padding: 2em 0;
  font-size: 2.074em;
  margin: .67em 0;
}
header h2 {
  font-size: 1.3rem;
  color: #000;
  text-shadow: 0 0 2px rgba(250,250,250,.5);
  margin-bottom: 0;
}
header p {
  margin: 1em;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
header a.button {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
  animation: pulse 1.5s linear alternate infinite;
}
.social ul {
  margin: 5em;
  list-style: none;
}
.social li {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  font-size: 1.7em;
}
.social a {
  color: white;
}
.social i {
  transition: all .2s;
}
.social a:hover i {
  transform: scale(1.1);
}

/*Tooltip start*/
.social .tooltip-bottom {
  font-size: .6em;
  text-align: center;
  background: #484848;
  background: rgba(72, 72, 72, .8);
  top: 110%;
  left: -1.85em;
  position: absolute;
  width: 5em;  height: auto;
  padding: .2em;
  transition: all .3s;
  transition-delay: .5s;
  opacity: 0;
  border-radius: 3px;
  border: 1px solid white;
  visibility: hidden;
}
.social li:hover > .tooltip-bottom {
  opacity: 1;
  visibility: visible;
}
.tooltip-bottom::after { 
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  content: "";
  border: 5px solid;
  border-color: 
    transparent 
    transparent 
    rgba(250, 250, 250, .8) 
    transparent;
}
/*Tooltip end*/

.social a:hover{}
.social a:active{}
.social a:focus{
  outline: 1px solid white;
}


/******
 main specific styling
 ******/
main {
  background-color: #f1f1f1;
  color: #1d1d1d;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/******
 .aboot specific styling
 ******/
.about {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 8em;
  padding-bottom: 8em;
}
.about h3 {
  margin-top: 0 
}

/*animate in*/
.about > div h3, .about > div p {
  opacity: .3;
  transform: translateX(-35px);
  transition: transform 1s, opacity .25s;
}
.scrolled .about > div h3, .scrolled .about > div p {
  opacity: 1;
  transform: translateX(0);
}
.qualities {
  opacity: .3;
  transform: translateX(35px);
  transition: transform 1s, opacity .5s;
}
.scrolled .qualities {
  opacity: 1;
  transform: translateX(0);
}
/*end animate in*/

.about > div {
  max-width: 400px;
}
.about .qualities {
  font-size: 0.8em;
  padding: 0;
  max-width: 400px;
}
.qualities ul {
  padding: 0;
}
.qualities ul li {
  list-style-type: none;
}
@media screen and (min-witdh: 600px) {
  .about {
    flex-direction: column;
  }
  .qualities .progress {
    width: 70vw;
  }  
  .about > div {
    max-width: 500px;
  }
}
.progress {
  width: 200px;
  display: inline-box;
  height: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e4e4e4;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #276ca7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width 1.5s ease;
}
/* increase the progress barrs */
.scrolled li:nth-of-type(1) .progress-bar {
  width: 75%;
}
.scrolled li:nth-of-type(2) .progress-bar {
  width: 70%;
}
.scrolled li:nth-of-type(3) .progress-bar {
  width: 60%;
}
.scrolled li:nth-of-type(4) .progress-bar {
  width: 30%;
}
.scrolled li:nth-of-type(5) .progress-bar {
  width: 10%;
}
.scrolled li:nth-of-type(6) .progress-bar {
  width: 20%;
}

/*******
 Page specific styling - quote spacer
 *******/
.quote {
  width: auto;
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  transition: all .3s;
  /* padding: 8em; */
  width: 100%;
}
.quote h2 {
  text-shadow: 2px 2px 0 rgba(72, 72, 72, .8);
  padding: 8em 4em;
}
/*Waiting dots css*/
.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.loading span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-15px) scale(.3);
  margin: 5px;
  opacity: .3;
  animation: .5s infinite alternate jump;
  animation-timing-function: cubic-bezier(0.75, 0.01, 0.93, 0.46);
}
.loading span:nth-of-type(1) {
  animation-delay: 0;
}
.loading span:nth-of-type(2) {
  animation-delay: .2s;
}
.loading span:nth-of-type(3) {
  animation-delay: .3s;
}
.loading span:nth-of-type(4) {
  animation-delay: .4s;
}
.loading span:nth-of-type(5) {
  animation-delay: .5s;
}
.loading span:nth-of-type(6) {
  animation-delay: .6s;
}
@keyframes jump {
  0%{
    opacity: .6;
    transform: translateY(-15px) scale(.3);
  }
  100%{
    opacity: 1;
    transform: translateY(15px) scale(1.9);
  }
}/*end dots css*/

/********
 Page specific styling - portfolio section
 ********/
section.portfolio {
  width: auto;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; 
  margin: 1em auto 3em;
  padding: 2em;
  height: auto;
  max-width: 900px;
  background: radial-gradient(rgba(68, 68, 68, 0.19), rgb(255, 255, 255));
  box-shadow: 0px 15px 25px -4px rgba(0, 0, 0, 0.5);
}
.item-container .text-container h3 {
  color: black;
}
.item-container:first-of-type {
  padding-top: 9em;
  margin: 0 auto;
}
.img-container img {
  height: 27vw;
  min-height: 10em;
  max-height: 20em;
  box-shadow: 0 0 46px -10px black;
  border: 3px solid #a0a0a0;
  border-radius: 5px;
}

.img-container, .item-container .text-container {
  grid-row: 1/2;
}
.item-container:nth-of-type(even) .img-container,
.item-container:nth-of-type(odd) .img-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  grid-column: 2/3;
}
.item-container:nth-of-type(even) .text-container {
  padding-right: 1em;
  grid-column: 1/2;
}

.item-container:nth-of-type(odd) .img-container {
  grid-column: 1/2;
}
.item-container:nth-of-type(odd) .text-container {
  padding-left: 1em;
  grid-column: 2/3;
}
.item-container:nth-of-type(even) .img-container a {
  perspective: 500px;
}
.item-container:nth-of-type(odd) .img-container a {
  /* can't seem te get the perspective right for some reason */
  perspective: 500px;
}
.item-container:nth-of-type(even) .img-container img {
  transform: rotateY(-5deg) rotateZ(1deg);
  transition: all .5s;
}
.item-container:nth-of-type(odd) .img-container img {
  transform: rotateY(5deg) rotateZ(1deg);
  transition: all .5s;
}
.item-container:nth-of-type(even) .img-container img:hover,
.item-container:nth-of-type(odd) .img-container img:hover {
  transform: rotateY(0);
}

@media screen and (max-width: 600px) {
  .item-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    align-items: center;
    justify-content: center;
  }
  div.item-container {
    margin: 3em 0;
    padding-left: 0;
  }
  div.item-container .text-container {
    padding-left: 0;
    padding-right: 0;
  }
  .text-container {
    max-width: 70vw;
  }
  .img-container img {
    height: 40vw;
  }
}


/*******
 Portfolio carousel
 *******/
 :root {
  --height: 450px;
  --btn-width-height: 50px;
  --outline: none;
}

@keyframes pulse-alt {
  from {
    transform: scale(1.04);
  }
  to {
    transform: scale(.96);
  }
}

.portfolio-car {
  position:relative;
  width: 100%;
  height: 100%;
  padding: 7em 0;
}
.slick-next, .slick-prev {
  z-index: 2000000;
  color: white;
  font-size: 0;
  line-height: 25px;
  position: absolute;
  left: 4%;
  top: calc(50% - var(--btn-width-height)/2);
  width: var(--btn-width-height);
  height: var(--btn-width-height);
  cursor: pointer;
  text-shadow: 0 0 10px black;
  transition: all .2s;
  animation: pulse-alt 1s linear infinite alternate;
  background: none;
  border: none;
  outline: none;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-next:before {
  content: '→';
}
.slick-prev:before {
  content: '←';
}

.slick-next:hover, .slick-prev:hover {
  transform: scale(1.05);
  animation: none;
}
.slick-next:active, .slick-prev:active {
  transform: scale(.95);
}
.slick-next i.fa-angle-right, .slick-prev i.fa-angle-left{
  text-shadow: 0 0 5px #000;
  position: relative;
  top: calc(50% - .5em);
  left: calc(50% - .25em);
}
.slick-next {
  left: 90%;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.first, .second, .third, .fourth {
  z-index: -1;
  position: relative;
  top: calc(50% - var(--height)/2);
  color: white;
  width: 100%;
  height: var(--height);
  display:none;
  transition: all 10s ease-in;
  opacity: 0;
  visibility: hidden;
}
.active {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.car.leave-right, .car.leave-left {
  z-index: 20;
  opacity: 0;
  transform: translateX(100px);
}
.car.leave-left {
  transform: translateX(-100px);
}

.portfolio-car .item-container {
  padding-top: 2em;
  margin: 2em auto;
}
.portfolio-car .text-container {}
.portfolio-car .img-container {}




/******
 optional styles
 ******/
section {
  position: relative;
}
section .last, section .next {
  font-size: 1.4em;
  position: absolute;
  top: 0;
  right: 0;
  color: #c5c5c5;
  padding: .3em;
  margin: 0.3em;
}
section .next {
  right: 1em;
  bottom: 0;
  top: unset;
}

section .other {}

/******
 Page specific styling - footer
 ******/
footer {
  box-shadow: inset 0px 3px 22px -5px black;
  color: white;
  background-color: #444;
  padding: 4em 14em;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.clip-path1 {
  z-index: 2;
}
.clip-path2 {
  z-index: 1;
}
.clip-path1, .clip-path2 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.clip-path1 {
  background: rgba(84, 113, 255, 1);
  -webkit-clip-path: polygon(95% 90%, 100% 25%, 100% 100%, 0% 100%);
  clip-path:         polygon(95% 90%, 100% 25%, 100% 100%, 0% 100%);
}
.clip-path2 {
  background: rgba(90, 140, 245, 1);
  -webkit-clip-path: polygon(94% 84%, 100% 20%, 100% 100%, 0% 100%);
  clip-path:         polygon(94% 84%, 100% 20%, 100% 100%, 0% 100%);
}
.content {
  grid-column: 2 / 4;
  z-index: 3;
}
footer .social {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
footer p a {
  text-decoration: underline;
  text-decoration-style: dashed;
}
footer p a:hover {
  font-weight: 500;
  text-decoration-style: solid;
}
footer .social ul {
  margin: 1em;
}
footer .social li {
  display: block;
  font-size: 1.1em;
}
footer .social li a {
  text-decoration: none;
  outline: none;
}
footer .social li a:hover {
  transform: scale(1.2);
}
footer .social li a:focus, footer .social li a:active {
  text-decoration: none;
  outline: none;
}
footer .social li span {
  font-size: 0.9em;
}
footer a:focus {
  outline: none;
  text-shadow: 0 0 5px white;
}

/*Footer tooltips*/
footer .tooltip {
  position: relative;
  display: inline-block;
}
footer .tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
footer .tooltip:hover .tooltip-text {
  visibility: visible;
}
footer .tooltip .tooltip-text {
  top: -5px;
  right: 105%; 
}
footer .tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

@media screen and (max-width: 600px) {
  header { 
    padding-left: .5em;
    padding-right: .5em;
  }
  header .social ul {
    padding: 0;
    margin: 3em;
  }
  header h1 {
    padding: 0;
  }
  .about {
    flex-direction: column;
  }
  .about > div {
    max-width: 100vw;
    padding: 1.5em;
  }
  .about .progress {
    width: 80vw;
  }

  footer {
    padding: 2em 1em 3em;
  }
  footer .content {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: .8em;
  }
  footer .social {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .social ul {
    padding: 0;
  }
  footer .social ul li {
    display: inline-block;
  }
  footer li span {
    display: none;
  }
  .slick-slide {
    padding: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  footer {
    padding: 2em 5% 3em;
  }
  footer .content {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: .8em;
  }
  footer .social {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .social ul {
    margin: 0;
  }
  footer .social ul li {
    display: inline-block;
  }
  footer li span {
    display: none;
  }
  .slick-slide {
    padding: 1em;
  }
}

/*******
 contact styling
 *******/
.form-container {
  display: flex;
  visibility: hidden;  
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background: rgba(16, 16, 16, 0.8);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(1.2);
  transition: all .5s ease-in;
}
.form-container form {
  position: relative;
  max-width: 800px;
  max-height: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 4px white;
}
.form-inner-container {
}
input {
  padding: .2em;
  border: none;
  border-bottom: 1px solid #c3c3c3;
}
textarea {
  border: none;
  background-color: rgba(239, 239, 239, 0.48);
  height: 10em;
}
input[type="submit"] {
  border-bottom: 1px solid grey;
  background-color: rgba(84, 113, 255, 1);
  color: white;
}
span.close-form {
  position: absolute;
  font-size: 2em;
  right: -.7em;
  color: white;
  cursor: pointer;
}
.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
